/* Contact */
#contact {
  background-color: $color-black;

  .section {
    margin-top: 30px;
  }
}

.contact__title,
.contact__email,
.contact__rights {
  color: $color-white;
}

.contact__title {
  margin: 25px 0;
}

.contact__links {
  font-size: $font-small;
  display: flex;
  justify-content: space-around;
  padding: 0% 40%;
  margin-bottom: 20px;
}

.contact__links a {
  color: $color-grey;

  &:hover {
    transform: scale(1.1);
    color: $color-sky-blue;
    transition: all animation-duration ease-in;
  }
}

@media screen and (max-width: 450px) {
  #contact {
    padding-top: 20px;

    .contact__links {
      padding: 0% 30%;
    }
  }
}